<div class="stock-container" [ngClass]="wineitem.isOnSale ? 'stockOK2' : 'stockNOK2'">
  <img class="imgVi" src="{{ wineitem.imageUrl }}" alt="Imagen del vino: {{wineitem.name}}">
  <div class="header">
    <h2>{{wineitem.name}}</h2> - <h3 [ngClass]="wineitem.isOnSale ? 'stockOK1' : 'stockNOK1'">{{alavenda}}</h3>
  </div>
  <div class="foodPairing">Maridaje recomendado: <app-foodlist *ngFor="let food of wineitem.foodPairing" [food]="food"></app-foodlist>
  </div>
  <div class="isOnSale">Precio unitario: <b>{{wineitem.price}} €</b></div>
  <div class="isOnSale">Tu pedido:
    <select name="OS">
      <option *ngFor="let quantityValue of quantities" value="quantityValue" (click)="onSelect(quantity)"
        [selected]="wineitem.quantityInCart === quantityValue">{{quantityValue}} unidades</option>
    </select>In
    <button (click)="toggleDown()" *ngIf="quantityNot">(-)</button>
    <button (click)="toggleUp()">(+)</button>
  </div>
  <!--
[ngIf]=
*ngIf="wineitem.quantityInCart = quantityValue: 'selected="true"'" -->
