<div class="stock-container" [ngClass]="wineitem.isOnSale ? 'stockOK2' : 'stockNOK2'">
  <img class="imgVi" src="{{ wineitem.imageUrl }}" alt="Imagen del vino: {{wineitem.name}}">
  <div class="header">
    <h2>{{wineitem.name}}</h2> - <h3 [ngClass]="wineitem.isOnSale ? 'stockOK1' : 'stockNOK1'">{{alavenda}}</h3>
  </div>
  <div class="foodPairing">Maridaje recomendado: <app-foodlist *ngFor="let food of wineitem.foodPairing" [food]="food">
    </app-foodlist>
  </div>
  <div class="isOnSale">Precio unitario: <b>{{wineitem.price}} €</b></div>
  <div class="isOnSale"><span *ngIf="wineitem.quantityInCart > 1">Tu pedido: {{wineitem.quantityInCart}}
      unidades</span><span *ngIf="wineitem.quantityInCart === 1">Tu pedido: {{wineitem.quantityInCart}}
      unidad</span><span *ngIf="wineitem.quantityInCart === 0">Agregue producto a su lista</span>
    <button (click)="toggleDown($event)" *ngIf="quantityNot">(-)</button>
    <button (click)="toggleUp($event)">(+)</button>
  </div>
</div>
